@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-family: "Lato", sans-serif;
}
body {
    margin:0;
    padding:0;
}
section {
    background-color: green;
    margin-top:px;
    
}
section {
    background-color: green;
    padding-bottom: 50px;
    padding-top: 50px;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    
}

header p {
    margin: 0; 
    border:0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    height: 50px;
}

nav p {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav p span {
    padding-left:15px;
    color: #ff0000;
    transition: color 0.3s ease;
}

nav ul {
    display: flex;
    gap: 20px;
    font-size: 16px;
    z-index: 1;
}


nav ul li {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    list-style: none;
}

nav ul li:hover {
    /*background-color: #f0f0f0;*/
    transition: background-color 0.3s ease;
}

nav ul li a {
    padding-right: 15px;
    color: #555;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li:hover > a {
    color: #007bff;
    transition: color 0.3s ease;
}
