@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #3b3486;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.card {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  background-color: #f0f3ff;
  border-radius: 8px;
  box-shadow: 18px 18px #86a7fc;
}

.score-board,
.life-board {
  text-align: center;
}

.par-label,
#score,
#life {
  display: inline-block;
  margin: 0;
}

.rand-container {
  margin-left: auto;
  margin-right: auto;
  background-color: #f72798;
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#randNumber {
  color: #f9f9f9;
  text-align: center;
  font-size: 36px;
}

.input-details {
  margin-top: 15px;
}

#result {
  text-align: center;
  font-size: 19px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.was-validated .form-control:valid {
  background-image: none;
}

#result,
.form-control {
  font-family: "Open Sans", sans-serif;
}

.game-form {
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

input,
#guess-btn {
  height: 45px;
}

#guess-btn {
  width: 100px;
  color: white;
  background-color: #fdbf60;
  border: none;
  border-radius: 5px;
}

#guess-btn:hover {
  color: white;
  background-color: #ff8911;
}

#reset-btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #9f70fd;
  border-radius: 5px;
  color: #fff;
  border: none;
  width: 100px;
}

#reset-btn:hover {
  background-color: #6c22a6;
}

@media only screen and (max-width: 769px) {
  .card {
    width: 75%;
    margin-top: 35px;
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
  }

  h1 {
    font-size: 36px;
  }

  p,
  #guess-btn,
  #reset-btn,
  .form-control {
    font-size: 16px;
  }

  .rand-container {
    width: 80px;
    height: 60px;
  }

  #randNumber {
    font-size: 36px;
  }

  #guess-btn {
    width: 75px;
  }
}