@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1a55;
    color: white;
    font-family: "Roboto Mono";
}

h1 {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 2.5vw;
    font-weight: 800;
    text-align: center;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.player1,
.scores,
#player1-score,
#divider,
#player2-score,
.player2 {
    display: inline-block;
}

.scores {
    background-color: #1b1a55;
    border-radius: 15px;
    border: 2px solid white;
    padding: 5px 55px;
    position: relative;
    z-index: 1;
}

#player1-score,
#divider,
#player2-score {
    font-size: 33px;
    font-weight: 800;
}

.player1,
.player2 {
    font-size: 19px;
    font-weight: 800;
    position: relative;
    background-color: #535c91;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 2;
}

.player1 {
    margin-right: -30px;
}

.player2 {
    margin-left: -30px;
}

.game-container {
    text-align: center;
}

b {
    font-size: 28px;
}

.instruction {
    font-size: 40px;
    font-weight: 800;
    margin: auto;
}

#player1Choice,
#player2Choice {
    margin-top: 3vw;
    margin-bottom: 1vw;
}

.play-reset {
    display: flex;
    justify-content: flex-end;
}

.play-reset button {
    color: white;
    background-color: #535c91;
    border: 2px solid white;
    border-radius: 7px;
    padding: 5px 25px;
    margin-bottom: 20px;
    margin-right: 60px;
}

.hands {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 15px;
}

.hands button,
#player1Choice,
#player2Choice {
    background-color: white;
    border-radius: 50vw;
    font-size: 7vw;
    width: 12vw;
}

@media screen and (max-width: 769px) {
    .scores {
        padding: 5px 35px;
    }

    #player1-score,
    #divider,
    #player2-score {
        font-size: 22px;
        font-weight: 800;
    }

    .player1,
    .player2 {
        font-size: 14px;
    }

    .player1,
    .player2 {
        padding: 5px 5px;
    }

    .player1 {
        margin-right: -20px;
    }

    .player2 {
        margin-left: -20px;
    }

    h1 {
        font-size: 25px;
    }

    .instruction {
        font-size: 18px;
        padding: 5px;
    }

    b {
        font-size: 18px;
    }

    .play-reset {
        flex-direction: column;
    }

    .play-reset button {
        margin: auto;
    }
}